[user]
	email = patrick.schratz@gmail.com
	name = pat-s
	signingkey = D75C4F1B6EE2C8CD3727D1423C6318841EF78925
    #signingkey = BE2167750633FE1BEA664E548D4E0C3649536FDC
    #github = pat-s
[color]
	ui = auto
[fetch]
	prune = true
#[credential]
#	helper = /usr/bin/pass-git-helper
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = cache
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[gpg]
    program = gpg
[tag]
	gpgSign = true
    #forceSignAnnotated = true
[core]
	fileMode = false
	ignorecase = false
#	autocrlf = true
[pull]
	rebase = false
[init]
	defaultBranch = main
	templateDir = /Users/pjs/git/woodpeckerci/woodpecker/git_hooks
[commit]
	gpgsign = true
[advice]
	detachedHead = false
[merge "theirs"]
	driver = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://gitea.cynkra.com"]
	provider = generic
[maintenance]
	repo = /Users/pjs/cynkra/ansible/ansible
	repo = /Users/pjs/cynkra/devops/terraform/aws-frankfurt-k8s
	repo = /Users/pjs/git/woodpeckerci/woodpecker-helm
	repo = /Users/pjs/git/personal
	repo = /Users/pjs/git/woodpeckerci/ansible
	repo = /Users/pjs/git/gitea/helm-chart
	repo = /Users/pjs/git/woodpeckerci/woodpecker
	repo = /Users/pjs/cynkra/devops/terraform/aws-frankfurt-ecr
	repo = /Users/pjs/cynkra/devops/terraform/aws-frankfurt-s3-cf
	repo = /Users/pjs/cynkra/devops/terraform/aws-zurich-rds
	repo = /Users/pjs/cynkra/devops/terraform/aws-iam
	repo = /Users/pjs/git/woodpeckerci/docker-buildx
	repo = /Users/pjs/git/helm
	repo = /Users/pjs/git/woodpeckerci/infrastructure
	repo = /Users/pjs/cynkra/eae-core/managed-server-manual
	repo = /Users/pjs/cynkra/intern/cynkraweb
[credential "https://codeberg.org"]
	provider = generic
[push]
	autoSetupRemote = true
	autoSetupRemote = true
	default = current
[branch]
	autoSetupMerge = always
