[user]
	email = patrick.schratz@gmail.com
	name = pat-s
    #signingkey = BE2167750633FE1BEA664E548D4E0C3649536FDC
    #github = pat-s
[color]
	ui = auto
[fetch]
	prune = true
#[credential]
#	helper = /usr/bin/pass-git-helper
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = cache
[gpg]
    #program = /usr/local/bin/gpg
[tag]
    #forceSignAnnotated = true
[core]
#	autocrlf = true
[pull]
	rebase = true
