/* html messages font */
body {
	font: 11pt "Helvetica Neue";
    font-weight: 300;
}

/* text messages font */
div[type="text"][subtype="plain"]
{
    font-family: "Helvetica Neue";
    font-size: 10pt
}


pre {
  font-family: "mononoki" monospace;
  font-size: 5pt
}
